<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Cook book</title>
</head>

<body>
    <div class="container pt-5" id="app">
        <div class="row mb-3">
            <div class="col">
                <h1>Cook book</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="search">Find your dish</label>
                    <input type="text" class="form-control" id="search" placeholder="Enter dish name">
                </div>
                <hr>

                <ul class="list-group">
                    <li 
                        v-for="(dish,index) in dishes" 
                        class="list-group-item list-group-item-action pointer"
                        v-on:click="selectDish(index)"
                        :class="{'active': selectedDishIndex===index}"
                    >
                    {{dish.name}}
                    </li>
                </ul>
            </div>
            <div class="col-md-8 pt-3">
                <div class="row">
                    <div class="col-md-5">
                        <h2>{{dish.name}}</h2>
                        <img :src="dish.image" :alt="dish.name" class="rounded detail-dish-img">
                    </div>
                    <div class="col-md-7 pt-2">
                        <h5>КБЖУ</h5>
                        <ul>
                            <li>Калории, ккал: <strong>{{dish.calories}}</strong></li>
                            <li>Белки, г: <strong>{{dish.protein}}</strong></li>
                            <li>Жиры, г: <strong>{{dish.fat}}</strong></li>
                            <li>Углеводы, г: <strong>{{dish.carbohydrate}}</strong></li>
                        </ul>
                        <p v-if="promoVisibility">Промокод <strong>{{dish.promo}}</strong></p>

                        <button class="btn btn-primary mr-3">Заказать</button>
                        <button class="btn btn-outline-success" v-on:click="promoVisibility = !promoVisibility">Показать промокод</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="js/script.js"></script>
</body>

</html>